
			
	<div class="questionShow">
			<div>
			<h1><b><%=question.content%></b></h1>
			</div>
			by <%=question.user.firstName%> <%=question.user.lastName%> <%=question.created_at.strftime("%b %d,%y")%>
	
			<div id="createAnswer">
			<%@answer=Answer.new%>
				 <%= form_for @answer, remote: true do |f|%>
					 <%= f.label :Answer %> <br>
					 <%= f.text_area :content,id:  "answer_content_#{question.id}"%>  <br>
				  	 <%= f.hidden_field :question_id, :value => question.id %>
					 <%=f.hidden_field :user_id, :value => current_user.id %>
					 <%= f.submit value:"Answer" ,id:  'create-answer-submit'%>
			 	 <%end%>
			</div>
			<% answers = Answer.where(question_id: question.id).order(created_at: :desc)%>
			<div id="allAnswers_<%=question.id%>" class="allAnswers">
				 <%  answers.each do |answer| %><br>
					 <%=render 'answer',question: question,answer: answer%>
				 <%end%>
			</div>


		</div>
