<!DOCTYPE html>
<html>
<head>
  <title>Quora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>


<script type="text/javascript">
	noty({text: '<%= notice %>', type: 'success', timeout: 1000});

</script>
<% end%>

<% if  alert %>

<script type="text/javascript">
	noty({text: '<%=alert %>', type: 'error'C});

</script>

<% end%>

<header>

<div class="logo">
<a href='/' class="logo"><%= image_tag 'Quora_logo.png'%></a>
</div>
<%if current_user%>
<div>
<% if current_user.profile_picture %>
<a href="/profile" class="pro"><img src="/uploads/<%=current_user.profile_picture %>" class="profile_image"></a>
<%else%>
<a href='/profile' class="pro"><img src="/uploads/twitter-default-no-profile-pic.jpg" class="profile_image" ></a>
<% end %>
<nav>
<ul>
<li><%=current_user.email%></li>
<li> <%= link_to "Profile",profile_path%></li>
<li>  <%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
</ul>
</nav>
</div>
<%end%>
</header>
<%= yield %>

</body>
</html>

